/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

#carousel-container {
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
}

.image-display {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}
